@import "tailwindcss";

:root {
  --badge-purple-bg: #9162c015;
  --badge-purple-fg: #9162c0;

  --badge-green-bg: #449d5d15;
  --badge-green-fg: #449d5d;

  --badge-amber-bg: #d1772415;
  --badge-amber-fg: #d17724;

  --badge-blue-bg: #3b88e915;
  --badge-blue-fg: #3b88e9;
}

.badge-purple {
  background-color: var(--badge-purple-bg);
  color: var(--badge-purple-fg);
}

.badge-green {
  background-color: var(--badge-green-bg);
  color: var(--badge-green-fg);
}

.badge-amber {
  background-color: var(--badge-amber-bg);
  color: var(--badge-amber-fg);
}

.badge-blue {
  background-color: var(--badge-blue-bg);
  color: var(--badge-blue-fg);
}


@font-face {
  font-family: "PG_2025";
  src: url("/fonts/ProtestGuerrilla.ttf") format("truetype");
}


body {
  background: #fff;
  color: rgba(0, 0, 0, .7);
  font-family: 'Segoe UI';
  user-select: none;
}

p {
  color: rgba(0, 0, 0, .6);

}

.css-fnt-style {
  font-family: "PG_2025";
}

button,
h1,
h2 {
  cursor: pointer;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  background-color: #22222210;
}

::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  background-color: #22222210;
}

.runner_bg {
  background: linear-gradient(135deg, pink, rgba(0, 0, 255, 0.3));
  background-size: 200% 200%;
  animation: push 2s ease-in-out infinite alternate;
}

@keyframes push {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}




.button-3d {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 999px;
  background: #171717;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  perspective: 1000px;
  transform: translateX();
}

.link-format {
  color: oklch(0.588 0.158 241.966);
  cursor: pointer;

} 